*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0d7c3f,#062b18);

}

.login-container{

width:350px;

background:white;

padding:40px;

border-radius:25px;

text-align:center;

box-shadow:0 10px 40px rgba(0,0,0,.3);

}

.logo{

width:120px;

margin-bottom:20px;

}

h1{

font-size:42px;

color:#0d7c3f;

}

p{

margin:10px 0 30px;

color:#666;

}

input{

width:100%;

padding:15px;

border-radius:10px;

border:1px solid #ccc;

margin-bottom:20px;

font-size:16px;

}

button{

width:100%;

padding:15px;

background:#0d7c3f;

color:white;

font-size:18px;

border:none;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

button:hover{

background:#095a2d;

}